<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dataSource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
   <property name="url" value="jdbc:mysql://localhost:3306/ecotravel"/>
   <property name="username" value="root"/>
   <property name="password" value="hristobotev154"/>
</bean>

	<bean id="person" class="jdbc.model.Person" abstract="true">
		<property name="rating" value="0"></property>
	</bean>
	<bean id="profile" class="jdbc.model.Profile"></bean>
	<bean id="driver" class="jdbc.model.Driver" parent="person">
		<property name="numberOfTravels" value="0"></property>
	</bean>

	<bean id="passenger" class="jdbc.model.Passenger" parent="person"></bean>
	<bean id="advertisment" class="jdbc.model.Addvertisment"></bean>
	<bean id="driverJDBCTemplate" 
      class="jdbc.templates.DriverJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
            
   </bean>
   <bean id="passengerJDBCTemplate" 
      class="jdbc.templates.PassengerJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
      <property name="transactionManager"  ref="transactionManager" />    
   </bean>
   <bean id="profileJDBCTemplate" 
      class="jdbc.templates.ProfileJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />  
            
       
   </bean>
    <bean id="transactionManager" 
      class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
   
</beans>
